@media screen and (max-width: 767px) {
    .top-right-btn-list .btn,
    .filter-list .btn {
        padding: 6px 10px;
        font-size: 12px;
    }
    .top-right-btn-list {
        margin-left: 10px;
    }
    .dashboard-leftbar {
        display: none;
    }
    .user-dashboard .dashboard-container {
        width: 100%;
        background: #e9ecee;
        min-height: 100vh;
    }
    .top-stripe {
        display: none;
    }
    .mobile-header {
        display: block;
        background: #f8f8f8;
        box-shadow: 2px 4px 10px rgba(29, 39, 69, 0.4);
        padding: 10px;
    }
    .logo img {
        width: 150px;
    }
    .dashboard-stats {
        padding: 0px;
        flex-direction: column-reverse;
        text-align: center;
    }
    .dashboard-stats p {
        margin-bottom: 0px;
        font-size: 14px;
    }
    /* .row.main-row {
        margin-right: -15px;
        margin-left: -15px;
    } */
    .dashboard-title {
        display: none;
    }
    .main-row {
        padding: 12px 10px !important;
    }
    .mobile-menu ul:last-child li a {
        padding-left: 25px;
    }
    .breadcrumb {
        font-size: 11px;
    }
    .btn {
        padding: 6px 15px;
    }
    .filter-list li:last-child {
        width: 100px;
    }
    .report-tab {
        height: 100px;
        margin-bottom: 15px;
    }
    .table-responsive {
        padding-bottom: 15px;
    }
    .table-responsive>.table {
        font-size: 12px;
    }
    .white-box {
        padding: 12px;
    }
    .table-responsive {
        margin-bottom: 5px;
    }
    .test-list-box {
        padding: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {}

@media screen and (min-width: 992px) and (max-width: 1199px) {}

@media screen and (min-width: 1200px) and (max-width: 1499px) {}