@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.user-dashboard {
  display: flex;
}

.user-dashboard .dashboard-leftbar {
  width: 200px;
  background: #fff;
  height: 100vh;
}

.user-dashboard .dashboard-leftbar .logo {
  width: 100%;
  margin: auto;
  text-align: center;
  display: block;
  padding: 15px;
}

.user-dashboard .dashboard-leftbar .logo img {
  width: 100%;
}

.user-dashboard .dashboard-leftbar .left-nav ul {
  margin: 0px;
  padding: 0px;
}

.user-dashboard .dashboard-leftbar .left-nav ul li {
  list-style: none;
  text-align: center;
}

.user-dashboard .dashboard-leftbar .left-nav ul li a {
  display: block;
  color: #000;
  padding: 12px 0px;
  transition: all 0.45s;
}

.user-dashboard .dashboard-leftbar .left-nav ul li a:hover {
  padding-left: 10px;
}

.user-dashboard .dashboard-leftbar .left-nav ul li a {
  text-decoration: none;
}

.user-dashboard .dashboard-leftbar .left-nav ul li:nth-child(1) a {
  background: #cef0fa;
}

.user-dashboard .dashboard-leftbar .left-nav ul li:nth-child(2) a {
  background: #ffeed0;
}

.user-dashboard .dashboard-leftbar .left-nav ul li:nth-child(3) a {
  background: #fee1d9;
}

.user-dashboard .dashboard-leftbar .left-nav ul li:nth-child(4) a {
  background: #e6e9fc;
}

.user-dashboard .dashboard-leftbar .left-nav ul li:nth-child(5) a {
  background: #cef0fa;
}

.user-dashboard .dashboard-leftbar .left-nav ul li:nth-child(6) a {
  background: #ffeed0;
}

.user-dashboard .dashboard-leftbar .left-nav ul li:nth-child(7) a {
  background: #fee1d9;
}

.user-dashboard .dashboard-leftbar .left-nav ul li:nth-child(8) a {
  background: #e6e9fc;
}

.user-dashboard .dashboard-leftbar .left-nav ul li a span {
  display: block;
}

.user-dashboard .dashboard-leftbar .left-nav ul li a img {
  width: 36px;
}

.user-dashboard .dashboard-container {
  width: calc(100% - 200px);
  background: #e9ecee;
}

.user-dashboard .dashboard-container .top-stripe {
  background: #0083bd;
  overflow: hidden;
}

.user-dashboard .dashboard-container .top-stripe ul {
  margin: 0px;
  padding: 0px;
  float: right;
}

.user-dashboard .dashboard-container .top-stripe ul li {
  list-style: none;
  float: left;
  margin: 0px 10px;
  color: #fff;
  padding: 8px;
}

.user-dashboard .dashboard-container .top-stripe ul li .notification-span {
  position: relative;
}

.user-dashboard .dashboard-container .top-stripe ul li .notification-span span {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: red;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -8px;
  font-size: 10px;
}

.user-dashboard .dashboard-container .top-stripe ul li .name-cricle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #009de2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin-right: 10px;
}

.user-dashboard .dashboard-container .top-stripe ul li a {
  color: #fff;
}

.user-dashboard .dashboard-container .top-stripe ul li a:hover {
  text-decoration: none;
}

.user-dashboard .dashboard-container .dashboard-title {
  background: #009de2;
  color: #fff;
  padding: 15px;
}

.user-dashboard .dashboard-container .dashboard-title h1 {
  font-size: 24px;
  margin-bottom: 0px;
}

.white-box {
  background: #fff;
  box-shadow: 2px 4px 10px rgba(39, 59, 69, 0.4);
  padding: 15px;
}

/*  */

.four-list ul {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.four-list ul li {
  list-style: none;
  text-align: center;
  width: 46%;
  margin: 2%;
  float: left;
}

.four-list ul li a {
  display: block;
  color: #000;
  padding: 25px 0px;
  transition: all 0.45s;
}

.four-list ul li a:hover {
  padding-left: 10px;
}

.four-list ul li a {
  text-decoration: none;
}

.four-list ul li:nth-child(1) a {
  background: #cef0fa;
}

.four-list ul li:nth-child(2) a {
  background: #ffeed0;
}

.four-list ul li:nth-child(3) a {
  background: #fee1d9;
}

.four-list ul li:nth-child(4) a {
  background: #e6e9fc;
}

.four-list ul li a span {
  display: block;
}

.four-list ul li a img {
  width: 60px;
}

.student-detail-box .table {
  table-layout: fixed;
}

.student-detail-box .table tr td {
  padding: 5px 0px;
  border: 0px;
}

.student-detail-box .table tr td:nth-child(2) {
  width: 100px;
}

.text-analysis-box {
  background: #f2fafe;
  padding: 20px;
  margin-top: 25px;
}

.report-card-box {
  margin-top: 25px;
}

.report-card-box ul {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.report-card-box ul li {
  list-style: none;
  text-align: center;
  width: 46%;
  margin: 2%;
  float: left;
}

.report-card-box ul li a {
  display: block;
  color: #000;
  padding: 25px 0px;
  transition: all 0.45s;
}

.report-card-box ul li a:hover {
  padding-left: 10px;
}

.report-card-box ul li a {
  text-decoration: none;
}

.report-card-box ul li:nth-child(1) a {
  background: #cef0fa;
}

.report-card-box ul li:nth-child(2) a {
  background: #ffeed0;
}

.report-card-box ul li h2 {
  font-size: 40px;
  font-weight: bold;
}

.btn-white {
  background: #fff !important;
}

.test-list-box {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
}

.test-list-box h5 {
  font-size: 18px;
  margin: 0px;
  margin-bottom: 10px;
  font-weight: 600;
}

.test-list-box table tr td:first-child {
  font-weight: bold;
}

.table-loading-wrap {
  display: flex;
  align-items: center;
  height: 540px;
  justify-content: center;
  flex-direction: column;
}

.table-loading-wrap .loading-img img {
  width: 145px;
}

.table-loading-wrap .loading-text {
  font-size: 20px;
  color: #adadad;
}

.filter-list {
  display: flex;
  gap: 10px;
  margin: 0px;
  padding: 0px;
}

.filter-list li {
  list-style: none;
}

.filter-list li:last-child {
  width: 200px;
}

.filter-list li h5 {
  line-height: 32px;
  margin-bottom: 0px;
}

.top-right-btn-list {
  display: flex;
  gap: 10px;
  margin: 0px;
  padding: 0px;
}

.top-right-btn-list li {
  list-style: none;
}

.form-control {
  font-size: 14px;
  font-weight: normal !important;
}

.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 0px 0 0;
  color: inherit;
  margin-bottom: 0;
  min-height: 48px;
  display: flex;
  justify-content: space-between;
}

.btn {
  font-size: 14px;
  font-weight: normal !important;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.btn svg {
  font-size: 12px;
}

.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active {
  background-color: #9d9d9d;
  border-color: #9d9d9d;
  cursor: not-allowed;
}

.overflow-hidden {
  overflow: hidden;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 0px;
}

.create-text-page .tab-content {
  padding-top: 20px;
}

.create-text-page .nav-tabs {
  pointer-events: none;
}

.create-text-page .nav-tabs li a {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-text-page .nav-tabs li a svg {
  font-size: 30px;
}

.create-text-page .nav-tabs > li > a {
  padding: 10px 10px 10px 18px;
}

.create-text-page .nav-tabs li a span.main-span {
  display: flex;
  gap: 15px;
}

.create-text-page .nav-tabs li a span {
  display: block;
}

.create-text-page .add-question-box-in-test {
  background: #f1f1f1;
  width: 100%;
  min-height: 250px;
  padding: 25px 40px;
  border: 1px solid #ccc;
  display: flex;
  gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.create-text-page .add-question-box-in-test p {
  margin-bottom: 0px;
  font-size: 15px;
}

.create-text-page .assign-group-box {
  border: 1px solid #ccc;
  padding: 15px;
}

.create-text-page .assign-group-box ul {
  margin: 0px;
  padding: 0px;
}

.create-text-page .assign-group-box ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
}

.create-text-page .assign-group-box ul li input {
  margin-right: 5px;
}

.nav-tabs > li > a {
  color: #a7b1c2;
  font-weight: normal;
  padding: 10px 20px 10px 25px;
}

label.error {
  color: red;
  display: inline-block;
  margin-left: 5px;
  font-weight: normal;
}

.display-none {
  display: none;
}

.main-row {
  padding: 25px 10px !important;
}

.text-center {
  text-align: center !important;
}

.remove-test {
  cursor: pointer;
}

.dashboard-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.dashboard-stats p {
  margin-bottom: 0px;
  font-size: 18px;
}

.dashboard-stats span {
  font-size: 24px;
  font-weight: bold;
}

.box-boom {
  min-height: 500px;
}

/* test-page begin here */

.step {
  display: none;
}

.step.active {
  display: block;
}

.ans-options ul {
  margin: 0px;
  padding: 0px;
}

.ans-options ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 6px;
  padding-bottom: 10px;
}

.test-page-section {
  margin: 20px 0px;
}

.test-page-section .condidate-info {
  border-radius: 6px;
  padding: 10px;
  background: #f1f1f1;
  overflow: hidden;
}

.test-page-section .condidate-info .row {
  align-items: center;
}

.test-page-section .question-wrapper .question-wrapper-inner {
  padding: 25px 0px;
}

.test-page-section .question-wrapper .question-wrapper-inner .que {
  border-bottom: 1px solid #ccc;
}

.test-page-section .question-wrapper .question-wrapper-inner .ans-options {
  margin-top: 20px;
}

.test-page-section .pagination > li > a,
.test-page-section .pagination > li > span {
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #012b55;
  background-color: #fff;
  border: 1px solid #ddd;
}

.test-page-section .pagination > li > a,
.test-page-section .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 14px;
  width: 42px;
}

.que-not-attempted {
  background: url(../images/Logo1.png);
  color: #303030 !important;
  background-size: 100% 100%;
  border-width: 0px;
}

.test-page-section .pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  margin-top: 0px;
}

.test-page-section .pagination > .active > a,
.test-page-section .pagination > .active > a:focus,
.test-page-section .pagination > .active > a:hover,
.test-page-section .pagination > .active > span,
.test-page-section .pagination > .active > span:focus,
.test-page-section .pagination > .active > span:hover {
  background-color: transparent;
  border: 0px;
  text-align: center;
}

.test-page-section .pagination > li > a.que-save,
.test-page-section .pagination > li > a.que-save-mark,
.test-page-section .pagination > li > a.que-mark,
.test-page-section .pagination > li > a.que-not-answered {
  /* border-width: 0; */
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border-width: 0;
}

.test-page-section .pagination > li {
  display: inline;
}

.que-not-answered {
  background: url(../images/Logo2.png);
  color: #fff !important;
}

.que-save {
  background: url(../images/Logo3.png);
  color: #fff !important;
}

.que-save-mark {
  background: url(../images/Logo5.png);
  color: #fff !important;
}

.que-mark {
  background: url(../images/Logo4.png);
  color: #fff !important;
}

.test-ques-stats {
  padding: 8px 13px;
  background-size: 100% 100%;
}

.question-wrapper .btn {
  font-size: 14px;
}

.test-process {
  display: none;
  margin-top: 25px;
}

.d-custom-block {
  display: block;
}

.test-header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px solid #f1f1f1; */
  box-shadow: 2px 4px 6px rgba(39, 59, 69, 0.2);
}

.btn {
  border-radius: 25px;
  padding: 6px 25px;
}

/* test-page ends here */

/* result-page begin here */

/* .test-page-section {
    display: none;
} */

.result-page-section {
  display: none;
  /* display: block; */
}

.result-page-section .result-status-box {
  padding: 25px;
  width: 36%;
  margin: auto;
}

.result-page-section .result-status-box h2 {
  text-align: center;
}

.result-page-section .result-status-box .table tr td:last-child {
  font-weight: bold;
  width: 100px;
  text-align: center;
}

.result-question-box .table td {
  padding: 25px;
}

.result-question-box .table td .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-question-box .table td .row .ans-options-result ul li {
  list-style: none;
}

/* result-page ends here */

.table > thead > tr > th {
  vertical-align: middle;
}
